.fade-up{

    opacity:0;

    transform:translateY(40px);

    transition:all .8s;

}

.fade-up.show{

    opacity:1;

    transform:translateY(0);

}

.project-card{

    animation:float 5s infinite alternate;

}

@keyframes float{

    from{

        transform:translateY(0);

    }

    to{

        transform:translateY(-8px);

    }

}

.hero-right img{

    animation:avatar 6s infinite ease-in-out;

}

@keyframes avatar{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0);

    }

}