@media (max-width: 800px) {

    .portfolio {
        grid-template-columns: 1fr;

        gap: 55px;

        padding: 55px 25px;
    }

    .profile {
        position: relative;

        top: auto;
    }

    .profile-avatar {
        width: 125px;
        height: 125px;
    }

    .content {
        gap: 60px;
    }

    .item-header {
        flex-direction: column;

        gap: 4px;
    }

    .item-date {
        white-space: normal;
    }
}